# Distribution archive
zmk_*.tar.gz
zmk_*.tar.gz.asc

# Version file used during "make dist"
.version-from-git

# Generated configure script
configure

# Editor swap files
*.swp

# Test log files
*.log
