# Object files and binaries
*.a
*.dylib
*.o
*.so.*

# Dependency data
*.d

# The configure script
configure

# The configuration file it generates
GNUmakefile.configure.mk

# Locally bundled installation of zmk
z.mk
zmk
