name: Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  make-check:
    strategy:
      matrix:
        system: [ubuntu-latest, macos-latest]
    env:
      DEBUG: expand,import,version
    runs-on: ${{ matrix.system }}
    steps:
    - uses: actions/checkout@v2
    - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
    - run: git fetch --prune --unshallow --tags
    - name: register make problem matcher
      run: echo "::add-matcher::${{ github.workspace }}/.github/make.json"
    - name: Check make version
      run: make --version
    - name: Install missing ObjC compiler
      if: runner.os == 'Linux'
      run: sudo apt-get install gobjc
    - name: Run distcheck
      run: make --warn-undefined-variables distcheck
    - name: Create dist archive
      run: make --warn-undefined-variables dist
    - uses: actions/upload-artifact@v2
      with:
        name: dist-archive
        path: zmk_*.tar.gz
